{{define "layout"}}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>popular</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>

  <!-- アイコン -->
  <link rel="shortcut icon" href="/views/img/favicon.ico">

  <!-- style  -->
  <link rel="stylesheet" href="/views/css/style.css" />
</head>
<body>
  {{template "navbar" .}}
  {{template "content" .}}
<footer class="footer text-center py-3">
  <div class="container">
    <p class="text-dark font-weight-bold">© popular</p>
    <a href="/agreement" class="d-inline-block mb-1">利用規約</a><br>
    <a href="/privacy_policy" class="d-inline-block mb-1">プライバシーボリシー</a><br>
    <a href="/contact" class="d-inline-block mb-1">お問い合わせ</a><br>
    <a href="https://twitter.com/hx_kei" class="d-inline-block mb-1">運営者<img src="/views/img/@hx_kei.jpeg" class="hx_kei_img" alt="@hx_kei"> @hx_kei</a><br>
  </div>
</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>
// contactフォーム
$('#os-select').change(function () {
  var r = $(this).find('option:selected').val();
  if(r == 4) {
    $('.other').html('<input type="text" name="other_os" placeholder="その他のOS" class="other-text w-100">');
  } else {
    $('.other').empty();
  }
})
$('#browser-select').change(function () {
  var r = $(this).find('option:selected').val();
  if (r == 4) {
    $('.other2').html('<input type="text" name="other_browser" placeholder="その他のブラウザ" class="other-text w-100">');
  } else {
    $('.other2').empty();
  }
})
// homeフォーム
$("#keyword").on('input', function () {
  var url = "https://pixabay.com/api/?key={{.PixabayKey}}";
  var keyword = $("#keyword").val();
  $('.data_set').css('height', '480px');
  $('.data_set').empty();
  $('.text_set').empty();
  if (keyword != "") {
    url += "&q=" + encodeURIComponent(keyword);
  } else {
    $("body").removeClass("background-block");
    $("#opacity_none").css('opacity', '');
    $('.data_set').css('height', '');
    return;
  }
  url += "&per_page=" + 200;
  $.ajax({
    url: url,
    type: 'GET',
    dataType: 'json',
  })
  .done(function (data) {
    $("body").addClass("background-block");
    $("#opacity_none").css('opacity', 0);
    for (var i in data.hits) {
      createCard($(".data_set")[0], data.hits[i]);
    }
  });

  var createCard = function (parent, value) {
    var frame = document.createElement('div');
    var img = document.createElement('img');

    frame.classList.add("col-md-2", "frame");

    img.src = value.previewURL;
    img.alt = value.webformatURL;
    img.width = 135;
    img.height = 120;

    frame.appendChild(img);
    parent.appendChild(frame);
  }
});
$('.data_set').on('click', 'img', function () {
  var img_data = $(this).attr("alt");
  $('.data_set').empty();

  var frame = document.createElement('div');
  var form = document.createElement('form');
  var input_hidden = document.createElement('input');
  var textarea = document.createElement('textarea');
  var p = document.createElement('p');
  var input = document.createElement('input');

  form.action = "/twitter/post";
  form.method = "post";

  input_hidden.type = "hidden";
  input_hidden.value = img_data;
  input_hidden.name = "img";

  textarea.rows = 15;
  textarea.cols = 90;
  textarea.name = "tweet";
  textarea.placeholder = "テキストを140文字以内で入力して下さい。\n写真は最下部に表示されます。";

  input.type = "submit";
  input.value = "ツイートする";

  frame.classList.add("col-md-12");
  p.classList.add("tweet_circle");
  textarea.classList.add("tweet_text");
  input.classList.add("tweet_button");

  form.appendChild(input_hidden);
  form.appendChild(textarea);
  form.appendChild(p);
  form.appendChild(input);
  frame.appendChild(form);
  $('.text_set')[0].appendChild(frame);
})
$('.text_set').on('input', 'textarea', function () {
  var count = $(this).val().length;
  $(".tweet_circle").text(count);
  if (count > 140) {
    $(this).addClass("border-red");
    $(".tweet_button").prop('disabled', true);
    $(".tweet_button").css('background-color', 'rgb(169, 169, 169)');
    $(".tweet_circle").css('border-color', "red");
  } else if (count > 110){
    $(this).removeClass("border-red");
    $(".tweet_circle").css('border-color', "rgb(247,173,33)");
    $(".tweet_button").css('background-color', '');
    $(".tweet_button").prop('disabled', false);
  } else {
    $(this).removeClass("border-red");
    $(".tweet_circle").css('border-color', "");
    $(".tweet_button").prop('disabled', false);
    $(".tweet_button").css('background-color', '');
  }
})
</script>
</html>
{{end}}
